#background{

    -fx-background-color: radial-gradient(center 0% 0%, radius 150%, #444D56, #30362F);
}
#h1_label{
    -fx-background-radius: 10px;
    -fx-background-color: #AEAAAB;
    -fx-effect: dropshadow(three-pass-box, #191919, 2, 0.2, 2, 2);
}
#left_anchorpane{
    -fx-background-radius: 10px;
    -fx-background-color: #AEAAAB;
    -fx-effect: dropshadow(three-pass-box, #191919, 2, 0.2, 2, 2);
}
#b_AjoutezReservation{
    -fx-background-color: #605856;
    -fx-text-fill: #FBFCFF;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, #191919, 2, 0.2, 2, 2);
}
#b_VoirLesSalleDisponible{
    -fx-background-color: #605856;
    -fx-background-radius: 10px;
    -fx-text-fill: #FBFCFF;
    -fx-effect: dropshadow(three-pass-box, #191919, 2, 0.2, 2, 2);
}
#b_Recherche{
    -fx-background-color: #605856;
    -fx-text-fill: #FBFCFF;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, #191919, 2, 0.2, 2, 2);
}

#b_AjoutezReservation:hover {
    -fx-background-color: #FBFCFF;
    -fx-text-fill: #444D56;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, #191919, 6, 0.5, 3, 3);
}
#b_VoirLesSalleDisponible:hover{
    -fx-background-color: #FBFCFF;
    -fx-text-fill: #444D56;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, #191919, 6, 0.5, 3, 3);
}
#b_Recherche:hover{
    -fx-background-color: #FBFCFF;
    -fx-text-fill: #444D56;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, #191919, 6, 0.5, 3, 3);
}
#LeftBottom_anchor{
    -fx-background-radius: 10px;
    -fx-background-color: #AEAAAB;
    -fx-effect: dropshadow(three-pass-box, #191919, 2, 0.2, 2, 2);
}
#exit_label{
    -fx-background-radius: 10px 0px 0px 10px;
    -fx-background-color: #605856;
    -fx-effect: dropshadow(three-pass-box, #191919, 2, 0.2, 2, 2);
}
#closeButton{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 10px 0px 0px 0px;

}
#minimizeButton{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-radius: 0px 0px 0px 10px;
}
#minimizeButton:hover{
    -fx-font-size: 20px;
    -fx-background-color: #AEAAAB;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, #191919, 2, 0.2, 2, 2);
}
#closeButton:hover{
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, #191919, 2, 0.2, 2, 2);
}








#table_anchor {
    -fx-background-radius: 10px;
    -fx-background-color: #efeeef;
    -fx-effect: dropshadow(three-pass-box, #191919, 2, 0.2, 2, 2);
}
.table-view{
    -fx-background-color:transparent;
    -fx-border-color:#605856;
    -fx-border-radius:10px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment:CENTER;

}
.table-view .column-header-background{
    -fx-background-color:#605856;
    -fx-background-insets: 0;
    -f-background-radius:8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#efeeef;
    -fx-font-family:"Arial";
}








#search_anchor{
    -fx-background-color: red;
}
#add_anchor{
    -fx-background-color: yellow;
}